// scss 全局可用变量
/*   文字  */
$base-font-color: #606266 !default;
$base-print-font-color: #000 !default;
$base-font-size: 1rem;
$base-line-height: 2rem;
$base-color: #409eff;
$base-opacity: 0.7;
/*   边框    */
$base-border-color: #E6EBF0;
